-
    request:
        method: POST
        url: 'https://sandbox-api.didww.com/v3/orders'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
        body: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"sku_id":"acc46374-0b34-4912-9f67-8340339db1e5","qty":2}},{"type":"did_order_items","attributes":{"sku_id":"f36d2812-2195-4385-85e8-e59c3484a8bc","qty":1}}],"allow_back_ordering":true}}}'
    response:
        status:
            code: '201'
            message: Created
        headers:
            Content-Type: application/vnd.api+json
            ETag: 'W/"a52734826bb8997c836324e4bbfee99c"'
        body: '{"data":{"id":"5da18706-be9f-49b0-aeec-0480aacd49ad","type":"orders","attributes":{"amount":"5.98","status":"Pending","created_at":"2018-12-29T12:16:45.813Z","description":"DID","reference":"JXK-923618","items":[{"type":"did_order_items","attributes":{"qty":1,"nrc":"0.0","mrc":"5.6","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"0.0","monthly_price":"5.6","did_group_id":"899f0119-b4e9-47d0-9b2c-8a9f282fcbe2"}},{"type":"did_order_items","attributes":{"qty":2,"nrc":"0.0","mrc":"0.19","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"0.0","monthly_price":"0.19","did_group_id":"7156eea4-09af-4f82-a43e-3b572f9927d8"}}]}}}'
        
-
    request:
        method: POST
        url: 'https://sandbox-api.didww.com/v3/orders'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
        body: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"did_reservation_id":"e3ed9f97-1058-430c-9134-38f1c614ee9f","sku_id":"32840f64-5c3f-4278-8c8d-887fbe2f03f4"}}]}}}'
    response:
        status:
            code: '201'
            message: Created
        headers:
            Content-Type: application/vnd.api+json
            ETag: 'W/"589f474e9bda8eade33813703e819414"'
        body: '{"data":{"id":"a9a7ff2d-d634-4545-bf28-dfda92d1c723","type":"orders","attributes":{"amount":"0.19","status":"Pending","created_at":"2018-12-28T10:40:48.355Z","description":"DID","reference":"UAM-764395","items":[{"type":"did_order_items","attributes":{"qty":1,"nrc":"0.0","mrc":"0.19","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"0.0","monthly_price":"0.19","did_group_id":"7edb4f99-09ab-4bde-bef5-83685b9e76eb"}}]}}}'

-
    request:
        method: POST
        url: 'https://sandbox-api.didww.com/v3/orders'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
        body: '{"data":{"type":"orders","attributes":{"items":[{"type":"capacity_order_items","attributes":{"capacity_pool_id":"b7522a31-4bf3-4c23-81e8-e7a14b23663f","qty":1}}]}}}'
    response:
        status:
            code: '201'
            message: Created
        headers:
            Content-Type: application/vnd.api+json
            ETag: 'W/"7176eddfb35b390231bfe80bcbd22242"'
        body: '{"data":{"id":"68a46dd5-d405-4283-b7a5-62503267e9f8","type":"orders","attributes":{"amount":"44.35","status":"Completed","created_at":"2018-12-28T14:08:38.304Z","description":"Capacity","reference":"RUG-725648","items":[{"type":"capacity_order_items","attributes":{"qty":1,"nrc":"25.0","mrc":"19.35","prorated_mrc":true,"billed_from":"2018-12-28","billed_to":"2019-01-20","capacity_pool_id":"b7522a31-4bf3-4c23-81e8-e7a14b23663f"}}]}}}'

-
    request:
        method: POST
        url: 'https://sandbox-api.didww.com/v3/orders'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
        body: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"available_did_id":"c43441e3-82d4-4d84-93e2-80998576c1ce","sku_id":"acc46374-0b34-4912-9f67-8340339db1e5"}}]}}}'
    response:
        status:
            code: '201'
            message: Created
        headers:
            Content-Type: application/vnd.api+json
            ETag: 'W/"a15f38d39d95d6a83a0963a8796ec471"'
        body: '{"data":{"id":"9b9f2121-8d9e-4aa8-9754-dbaf6f695fd6","type":"orders","attributes":{"amount":"0.19","status":"Pending","created_at":"2018-12-27T16:44:05.511Z","description":"DID","reference":"YGA-665789","items":[{"type":"did_order_items","attributes":{"qty":1,"nrc":"0.0","mrc":"0.19","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"0.0","monthly_price":"0.19","did_group_id":"7156eea4-09af-4f82-a43e-3b572f9927d8"}}]}}}'
