-
    request:
        method: POST
        url: 'https://sandbox-api.didww.com/v3/orders'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
        body: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"sku_id":"f36d2812-2195-4385-85e8-e59c3484a8bc","qty":1}}],"allow_back_ordering":true,"callback_url":"https:\/\/example.com\/callback","callback_method":"POST"}}}'
    response:
        status:
            code: '201'
            message: Created
        headers:
            Content-Type: application/vnd.api+json
        body: '{"data":{"id":"5da18706-be9f-49b0-aeec-0480aacd49ad","type":"orders","attributes":{"amount":"5.98","status":"Pending","created_at":"2018-12-29T12:16:45.813Z","description":"DID","reference":"JXK-923618","items":[{"type":"did_order_items","attributes":{"qty":1,"nrc":"0.0","mrc":"5.6","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"0.0","monthly_price":"5.6","did_group_id":"899f0119-b4e9-47d0-9b2c-8a9f282fcbe2"}}],"callback_url":"https://example.com/callback","callback_method":"POST"}}}'
