-
    request:
        method: PATCH
        url: 'https://sandbox-api.didww.com/v3/trunks/2021b895-52c9-4f65-990b-e57a1abf858d?include=pop%2Ctrunk_group'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
        body: '{"data":{"type":"trunks","id":"2021b895-52c9-4f65-990b-e57a1abf858d","relationships":{"pop":{"data":{"type":"pops","id":"ba7ccbef-82ac-4372-9391-eac90d5c9479"}},"trunk_group":{"data":{"type":"trunk_groups","id":"837c5764-a6c3-456f-aa37-71fc8f8ca07b"}}}}}'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/vnd.api+json
            ETag: 'W/"ca25bb5e3a0adb969e9b62162799ad00"'
        body: '{"data":{"id":"2021b895-52c9-4f65-990b-e57a1abf858d","type":"trunks","attributes":{"priority":1,"capacity_limit":null,"weight":65535,"name":"hello, updated test iax2 trunk","cli_format":"e164","cli_prefix":null,"description":null,"ringing_timeout":null,"configuration":{"type":"iax2_configurations","attributes":{"dst":"558540420024","host":"example.com","port":4567,"auth_user":"new_auth_user","auth_password":"new_auth_password","codec_ids":[9,10,8,7,6]}},"created_at":"2018-12-29T10:07:53.374Z"},"relationships":{"trunk_group":{"links":{"self":"https://sandbox-api.didww.com/v3/trunks/2021b895-52c9-4f65-990b-e57a1abf858d/relationships/trunk_group","related":"https://sandbox-api.didww.com/v3/trunks/2021b895-52c9-4f65-990b-e57a1abf858d/trunk_group"},"data":{"type":"trunk_groups","id":"837c5764-a6c3-456f-aa37-71fc8f8ca07b"}},"pop":{"links":{"self":"https://sandbox-api.didww.com/v3/trunks/2021b895-52c9-4f65-990b-e57a1abf858d/relationships/pop","related":"https://sandbox-api.didww.com/v3/trunks/2021b895-52c9-4f65-990b-e57a1abf858d/pop"},"data":{"type":"pops","id":"ba7ccbef-82ac-4372-9391-eac90d5c9479"}}}},"included":[{"id":"837c5764-a6c3-456f-aa37-71fc8f8ca07b","type":"trunk_groups","attributes":{"created_at":"2017-11-14T15:07:25.571Z","name":"sample trunk group","capacity_limit":null},"relationships":{"trunks":{"links":{"self":"https://sandbox-api.didww.com/v3/trunk_groups/837c5764-a6c3-456f-aa37-71fc8f8ca07b/relationships/trunks","related":"https://sandbox-api.didww.com/v3/trunk_groups/837c5764-a6c3-456f-aa37-71fc8f8ca07b/trunks"}}},"meta":{"trunks_count":4}},{"id":"ba7ccbef-82ac-4372-9391-eac90d5c9479","type":"pops","attributes":{"name":"DE, FRA"}}]}'

-
    request:
        method: GET
        url: 'https://sandbox-api.didww.com/v3/trunks?sort=-created_at&include=trunk_group%2Cpop&page%5Bsize%5D=4&page%5Bnumber%5D=1'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: a[...]
