-
    request:
        method: PATCH
        url: 'https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762?include=pop%2Ctrunk_group'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
        body: '{"data":{"type":"voice_in_trunks","id":"a80006b6-4183-4865-8b99-7ebbd359a762","relationships":{"pop":{"data":{"type":"pops","id":"ba7ccbef-82ac-4372-9391-eac90d5c9479"}},"voice_in_trunk_group":{"data":{"type":"voice_in_trunk_groups","id":"837c5764-a6c3-456f-aa37-71fc8f8ca07b"}}}}}'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/vnd.api+json
            ETag: 'W/"ca25bb5e3a0adb969e9b62162799ad00"'
        body: '{"data":{"id":"a80006b6-4183-4865-8b99-7ebbd359a762","type":"voice_in_trunks","attributes":{"priority":1,"capacity_limit":null,"weight":65535,"name":"hello, updated test sip trunk","cli_format":"e164","cli_prefix":null,"description":null,"ringing_timeout":null,"configuration":{"type":"sip_configurations","attributes":{"username":"username","host":"216.58.215.110","port":5060,"codec_ids":[9,10,8,7,6],"rx_dtmf_format_id":1,"tx_dtmf_format_id":1,"resolve_ruri":false,"auth_enabled":false,"auth_user":null,"auth_password":null,"auth_from_user":null,"auth_from_domain":null,"sst_enabled":false,"sst_min_timer":600,"sst_max_timer":900,"sst_accept_501":true,"sip_timer_b":8000,"dns_srv_failover_timer":2000,"rtp_ping":false,"rtp_timeout":30,"force_symmetric_rtp":false,"symmetric_rtp_ignore_rtcp":false,"rerouting_disconnect_code_ids":null,"sst_session_expires":null,"sst_refresh_method_id":1,"transport_protocol_id":1,"max_transfers":0,"max_30x_redirects":0,"media_encryption_mode":"disabled","stir_shaken_mode":"disabled","allowed_rtp_ips":null}},"created_at":"2018-12-28T17:37:48.010Z"},"relationships":{"voice_in_trunk_group":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762/relationships/voice_in_trunk_group","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762/voice_in_trunk_group"},"data":{"type":"voice_in_trunk_groups","id":"837c5764-a6c3-456f-aa37-71fc8f8ca07b"}},"pop":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762/relationships/pop","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762/pop"},"data":{"type":"pops","id":"ba7ccbef-82ac-4372-9391-eac90d5c9479"}}}},"included":[{"id":"837c5764-a6c3-456f-aa37-71fc8f8ca07b","type":"voice_in_trunk_groups","attributes":{"created_at":"2017-11-14T15:07:25.571Z","name":"sample trunk group","capacity_limit":null},"relationships":{"voice_in_trunks":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/837c5764-a6c3-456f-aa37-71fc8f8ca07b/relationships/voice_in_trunks","related":"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/837c5764-a6c3-456f-aa37-71fc8f8ca07b/voice_in_trunks"}}},"meta":{"trunks_count":2}},{"id":"ba7ccbef-82ac-4372-9391-eac90d5c9479","type":"pops","attributes":{"name":"DE, FRA"}}]}'

-
    request:
        method: GET
        url: 'https://sandbox-api.didww.com/v3/voice_in_trunks?sort=-created_at&include=trunk_group%2Cpop&page%5Bsize%5D=4&page%5Bnumber%5D=1'
        headers:
            Content-Type: application/vnd.api+json
            api-key: PLACEYOURAPIKEYHERE
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/vnd.api+json
            ETag: 'W/"7763bed5dee8917cdc4409013a397734"'
        body: '{"data":[{"id":"2b4b1fcf-fe6a-4de9-8a58-7df46820ba13","type":"voice_in_trunks","attributes":{"priority":1,"capacity_limit":null,"weight":65535,"name":"sample trunk pstn","cli_format":"e164","cli_prefix":"","description":"","ringing_timeout":null,"configuration":{"type":"pstn_configurations","attributes":{"dst":"442080995011"}},"created_at":"2018-12-28T15:03:48.751Z"},"relationships":{"voice_in_trunk_group":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/2b4b1fcf-fe6a-4de9-8a58-7df46820ba13/relationships/voice_in_trunk_group","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/2b4b1fcf-fe6a-4de9-8a58-7df46820ba13/voice_in_trunk_group"},"data":{"type":"voice_in_trunk_groups","id":"837c5764-a6c3-456f-aa37-71fc8f8ca07b"}},"pop":{"links":{"self":"https://sandbox-api.didww.com/v3/[...]
